.main {
  max-width: 900px;
  margin: 0 auto;
}
.main h2 {
  border-bottom: 1px solid #999;
  color: blueviolet;
}
.main h3 {
  margin-bottom: 10px;
}
.main p {
  max-width: 70%;
  line-height: 1.2;
  padding-right: 10px;
  letter-spacing: 1px;
}
.panel_content {
  display: flex;
}
.ui-tabs-panel {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3em 1.5em !important;
}
img {
  width: 100%;
  height: auto;
}

.ui-tabs .ui-tabs-nav li {
  font-size: 18px;
  padding: 5px 0;
}
.ui-tabs-nav .ui-state-active a:hover {
  color: #fff !important;
}
.ui-tabs-nav a {
  font-weight: bold;
}
.ui-tabs-nav a:hover {
  color: #fd6483 !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #fd6483 !important;
  background: #fd6483 !important;
  color: #fff !important;
  font-weight: bold !important;
}
.ui-tabs {
  padding: 0 !important;
}
.ui-widget-header {
  background: #47a0d7 !important;
}
.ui-widget.ui-widget-content {
  border: 2px solid #47a0d7 !important;
}
