#main h1 {
  text-align: center;
  text-transform: capitalize;
  color: #ec008c;
  text-decoration: underline 1px;
  text-underline-offset: 8px;
  text-decoration-style: wavy;
  text-decoration-color: #2c97da;
}
#gallery {
  cursor: pointer;
}
#gallery,
#photo {
  text-align: center;
}
#gallery img {
  opacity: 0.5;
  border-radius: 3px;
}
#gallery img:hover,
#gallery img.selected {
  box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
  transform: translateY(-5px);
  opacity: 1;
}
.slideshow_images {
  margin: 20px auto;
}
#photo h2 a {
  font-size: 1.8em;
  padding: 20px;
  color: #2c97da;
  text-decoration: underline 1px;
  text-decoration-color: #ec008c;
  text-underline-offset: 8px;
}
#photo img {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #ccc;
}
