#main h1 {
  text-align: center;
  text-transform: capitalize;
  color: #ec008c;
  text-decoration: underline 1px;
  text-underline-offset: 8px;
  text-decoration-style: wavy;
  text-decoration-color: #2c97da;
}
#gallery,
#photo {
  text-align: center;
}
#gallery img {
  opacity: 0.5;
  border-radius: 3px;
}
#gallery img:hover,
#gallery img.selected {
  opacity: 1;
}
.slideshow_images {
  margin: 20px auto;
}
#photo h2{
	font-size: 1.8em;
	margin: 20px;
	color: #2c97da;
}
#photo img {
  border-radius: 5px;
  box-shadow: 10px 10px 5px #ccc;
}
