#contact-us {
  padding: 50px 20px;
  position: relative;
  background: #fff;
}
#contact-us .wrap {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
#contact-us .wrap .pannel-left {
  display: inline-block;
  padding-right: 10%;
  vertical-align: top;
  width: 90%;
  line-height: 1.5;
  text-align: left;
}
#contact-us .wrap .pannel-left h3 {
  font-size: 22px;
  font-weight: 500;
  color: #272727;
  margin: 15px 0 10px;
  margin-top: 15px;
}
#contact-us .wrap .pannel-left p {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #636363;
}
#contact-us .contact-form {
  margin-top: 30px;
}
#contact-us .contact-form.w-75 {
  width: 75%;
}
#contact-us .contact-form .contact-form-field {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  outline: 0;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
#contact-us .contact-form .submit-btn {
  font-size: 16px;
  padding: 15px 50px;
}
.button.v-pixpa-blue {
  background: #222d39;
  color: #fff;
}
.margin-t25 {
  margin-top: 25px;
}
.button {
  padding: 18px 35px;
  background: #fff;
  display: inline-block;
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: Inter, sans-serif;
}
.lt-hero-unit {
  position: relative;
  padding-top: 8%;
  padding-bottom: 8%;
  overflow: hidden;
  color: #292929;
  transform: translate3d(0, 0, 0);
}
.lt-hero-unit__bg {
  position: absolute;
  top: -10%;
  z-index: 1;
  width: 100%;
  height: 150%;
  background: #c4e2ff url(../images/contact_banner.png) 50% 50% no-repeat;
  background-size: auto;
  background-size: cover;
}
.lt-search-box {
  position: relative;
}
.lt-search-box--hero-unit {
  z-index: 2;
  max-width: 720px;
  margin: 0 auto;
  transition: top 0.3s ease;
  text-align: center;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
}
.lt-mb-5 {
  margin-bottom: 2rem !important;
}
.contact-form h5 {
  margin: 0px;
}
.input-form {
  margin-bottom: 20px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}
